#nav{
    position:fixed;
    background:rgba(0,0,0,0.57);
    top:0;
    left:0;
    height:80px;
    width:100%;
    z-index:9999;
    .inner_wrapp{
        width:1000px;
        margin:0 auto;
        .top_nav_logo{
            display:block;
            float:left;
            margin-top: 9px;
        }
        nav{
            float:right;
            ul{
                li{
                    margin-top:28px;
                    float:left;
                    margin-left:20px;
                    &:first-child{
                        margin-left:0;
                    }
                    a{
                        display:block;
                        font:18px 'Francois One', sans-serif;
                        color:#ffffff;
                        text-transform:capitalize;
                    }
                }
            }
        }
    }
}