= form_for  Resume.new do |f|
  %p
  = f.label "asdasdsa"
  = f.submit
  -#%p
  -#  = f.label :body_post
  -#  = f.text_area :body_post, :size => '40x10', :class=>"big_textarea"
  -#
  -#  = button_to_function  "Add a tag", "add_fields(this)"
  -#%p
  -#  .actions.btn
  -#    = f.submit
  -#= link_to 'Back', posts_path, :class => "btn"
