.live_chat#user_chat
  #chat_handle
    %span.head-chat
      live chat
    %span.controls-chat
      %button{id: 'chat_hide', title: 'Hide chat'}
        hide
      - if session[:chat_id]
        %span{id: 'chat_close', class: 'btn btn-danger btn-xs', title: 'Close chat'}
          close
  .chat-content
    .row
      .col-lg-10.col-offset-1.form-group
        - unless session[:chat_id].blank?
          = render partial: 'shared/show_chat'
        - else
          - if @admins.blank?
            = render partial: 'shared/new_email_msg'
          - else
            = render partial: 'shared/new_chat'