%section#welcome.welcome_l-1
  .welcome_l-2{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 50000px;"}
  .welcome_l-3{"data-0" => "background-position:0px 0px;", "data-100000" => "background-position:0px 10000px;"}
  .content_area
    %h1 welcome
    %h3 to
    .circle
      = image_tag 'sbs_c.png'