%section#What_we_do
  .content_area
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %h2= t 'home.index.our_command'
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> We're young and energetic team
        %span.font_size-26
          = " within a web development company"
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        of any complexity
        %span.font_size-51 delivering web development services
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        to clients
        %span.font_size-61  worldwide.
        We strive to use
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p the latest technologies
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        in the area of web development,
        %span.font_size-32 and produce clean and robust code.
        %span.font_size-52 Our team develops
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-70> projects using mainly the Ruby-on-Rails Framework.
        = " Being a rather young team,"
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        we're flexible and
        %span.font_size-39 and always search a best possible solution
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        for each project we work.
        %span.font_size-48 Our goal
        is to make
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        our clients
        %span.font_size-59 happy
    .row{"data--50-bottom" => "opacity:0.1;transform: scale(0.9)", "data-120-top" => "opacity:0.1;transform: scale(0.9)"}
      %p
        %span.font_size-39> with a
        = " high quality"
        %span.font_size-26 product.