%fieldset{id: 'new_live_chat'}
  %b Choose your manager:
  = select_tag :admin_user_id, options_for_select(@managers.map{|manager| [manager.first_name + ' ' + manager.last_name, manager.id]})
  %div
    %b Enter your name*:
    = text_field_tag :guest_name
  #recaptcha-home
    #recaptcha-div
      = recaptcha_tags display: {theme: 'white'}, ajax: true
  %div
    = button_tag 'Start Chat', id: 'user_chat_create'