%h1
  = t ('layouts.application.ror_team')
%p
  Sorry, but now absent any free manager. You can
  = link_to 'send request on our mail', contact_index_path, :target => "_blank", :onclick=>"window.close()"

