#welcome{
    overflow:hidden;
    &.welcome_l-1{
        background:url("section1_l-3.png") no-repeat;
        position:relative;
        z-index:1;
    }
    .welcome_l-2{
        background:url("assets/section1_l-2.png") no-repeat;
        position:absolute;
        top:0;
        left:0;
        z-index:2;
    }
    .welcome_l-3{
        background:url("assets/section1_l-1.png") no-repeat;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
    }
    &.welcome_l-1, .welcome_l-2, .welcome_l-3{
        background-size: cover;
         width:100%;
        height:800px;
    }

    .content_area{
        text-align:center;
        padding-top:150px;
        position:relative;
        z-index:4;
        h1{
            font-size:89px;
            color:#ffffff;
            text-shadow: 5px 5px 3px rgba(0,0,0,0.4);
        }
        h3{
            font-size:36px;
            color:#ffffff;
            padding:20px 0 45px;
        }
    }
}





