# PostgreSQL version
# gem install pg
development:
  adapter: postgresql
  encoding: utf8
  username:
  password:
  database: ror_team_development
test:
  adapter: postgresql
  encoding: utf8
  username:
  password:
  database: ror_team_test

production:
  adapter: postgresql
  encoding: utf8
  username:
  password:
  database: ror_team_production