.main_container
  #on_a_top
    %h3.community_h3 Ror-team open source projects:
    %br/
    Out team strongly believes in open Source
    %br/
    and we spend a lot of time to them
  / <hr>
  %span#content_head
  %h4 Ror-team Github public repositories:
  %hr/
  %ul
    %li
      %hr/
      .content_icon
      %b Rails Blog.
      Our very helpfull blog on ruby-on-rails
      %a.view{:href => "#"} view
      %hr/
    %li
      %hr/
      .content_icon
      %b Rails Blog.
      Our very helpfull blog on ruby-on-rails
      %a.view{:href => "#"} view
      %hr/
    %li
      %hr/
      .content_icon
      %b Rails Blog.
      Our very helpfull blog on ruby-on-rails
      %a.view{:href => "#"} view
      %hr/
    %li
      %hr/
      .content_icon
      %b Rails Blog.
      Our very helpfull blog on ruby-on-rails
      %a.view{:href => "#"} view
      %hr/
    %li
      %hr/
      .content_icon
      %b Rails Blog.
      Our very helpfull blog on ruby-on-rails
      %a.view{:href => "#"} view
      %hr/