<div class = "main_container">

    <div id = "on_a_top">
      <h3 class = "community_h3">Ror-team open source projects:</h3><br>
      Out team strongly believes in open Source<br>
      and we spend a lot of time to them
    </div>
    <!--<hr>-->

    <span id = "content_head">
      <h4>Ror-team Github public repositories:</h4><hr>
    </span>

    <ul>

      <li>
        <hr>
        <div class = "content_icon"></div>
        <b>Rails Blog.</b> Our very helpfull blog on ruby-on-rails
        <a href ="#" class = "view">view</a>
        <hr>
      </li>

      <li>
        <hr>
        <div class = "content_icon"></div>
        <b>Rails Blog.</b> Our very helpfull blog on ruby-on-rails
        <a href ="#" class = "view">view</a>
        <hr>
      </li>

      <li>
        <hr>
        <div class = "content_icon"></div>
        <b>Rails Blog.</b> Our very helpfull blog on ruby-on-rails
        <a href ="#" class = "view">view</a>
        <hr>
      </li>

      <li>
        <hr>
        <div class = "content_icon"></div>
        <b>Rails Blog.</b> Our very helpfull blog on ruby-on-rails
        <a href ="#" class = "view">view</a>
        <hr>
      </li>

      <li>
        <hr>
        <div class = "content_icon"></div>
        <b>Rails Blog.</b> Our very helpfull blog on ruby-on-rails
        <a href ="#" class = "view">view</a>
        <hr>
      </li>

    </ul>


</div>