pusher:
  ssl: false
  wss_host: "localhost"
  wss_port: 8080
  api_host: "localhost"
  api_port: 4567
  app_id: 1
  app_key: "1c81fd8f32b04884c7ac10a7df682973"
  app_secret: "bb8d5f8da6d091609da5c11ede8a236a"

mailer:
  address: 'smtp.gmail.com'
  port: 587
  domain: 'mail.google.com'
  user_name: 'username'
  password: 'password'
  authentication: :plain
  enable_starttls_auto: true
  url_host: 'localhost:3000'
