Our team:
%div.container_left
  %div.content_container
    %div.member_photo
      -#%img
      %img.img-circle(src="icon-info.png")
    %div.member_name
      name
    %div.member_position
      Ror developer
    %div.member_info
      imba ror developer



%div.container_right
  asdasf
  asdfasdf
  asdfasdf
