//= require bootstrap.min
//= require bootstrap-responsive.min
//= require home


header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.11);
  padding: 20px 0 0 0;
}

header .logo {
  padding: 20px 0 0 20px;
}

header .logo a {
  font-size: 27px;
  text-decoration: none;
  color: #000;
}

#content:after {
  content: "";
  display: block;
}

#footer, #content:after {
  height: 142px;
}

#footer {
  margin: -142px 0 0 0;
  background-color: rgba(0, 0, 0, 0.11);
}

.row.bottom .span12 {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}


