// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.options .icons {
  overflow: hidden;
}

.submit-form {
  margin: 0 0 10px 0;
}

.ror-team-errors {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 300px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  padding: 5px 10px 5px 10px;
  z-index: 100;
  border: 1px solid #ffffff;
}

#chat-history{
  height: 350px;
  width: 350px;
  overflow: auto;
  overflow-x: hidden;
}

