#chat-history {
  height: 270px;
}

.live_chat {
  display: none;
  position: fixed;
  top: 80px;
  right: 10px;
  width: 400px;
  z-index: 10000;
  margin: 10px;
}

.chat-content {
  border: 1px solid #000000;
  height: 550px;
  width: 400px;
  background-color: #ffffff;
  padding-top: 15px;
}

#chat_handle {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 10px;
  background-color: #000000;
  height: 40px;
  cursor: move;
  text-align: center;
}

.head-chat {
  text-transform: capitalize;
  font-size: 12pt;
  color: #ffffff;
  width: 100px;
}

.controls-chat {
  float: right;
}

.ui-effects-transfer {
  border: 1px dotted black;
  z-index: 10000;
}