.main_cont {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar .block {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #000000;
}

.main_cont .post {
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #000000;
}

.post_left {
  width: 200px;
  float: left;
  margin: 0 35px 0 35px;
}

.post_left .img {
  width: 200px;
  background-color: #e6e6e6;
}

.post_right {
  width: 500px;
  float: right;
}

.post-content {
  margin: 0 0 5px 0;
}

.post_date {
  margin: 5px 0 5px 0;
}

.main_cont .categories {
  margin: 0 0 10px 0;
}

.block.categories li {
  padding: 5px 0 5px 20px;
}

.size1 {
  font-size: 8px;
}

.size2 {
  font-size: 12px;
}

.size3 {
  font-size: 16px;
}

.size4 {
  font-size: 20px;
}

.size5 {
  font-size: 24px;
}

.post_top {
  overflow: hidden;
}

.post_img img {
  float: left;
  margin: 0 20px 10px 0;
}

.input-append {
  width:100%
}

.input-append textarea{
  height:39px;
  width:70%
}

.input-append .btn {
  height:50px;
  width:15%
}

// for comments

.comment_nick, .comment_img {
  float: left;
}

.comment_nick {
  display: inline-block;
  margin-left: 10px;
}

.comment_time {
  float:right;
}

.comment_email {
  display: inline-block;
  margin-left: 20px;
}

.comment_description {
  display: inline-block;
  margin: 10px 0 0 10px;
  font-family: "Courier New";
}

.comment_block {
  border: 2px solid rgb(201, 201, 201);
  border-radius: 4px;
  padding: 15px;
}

blockquote:nth-child(odd) {
  border-radius: 0 7px 7px 0;
  background-color: rgba(216, 216, 216, 0.16);
}

blockquote {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 10px;
}

hr {
  margin-bottom: 0;
}

.icon-remove, .icon-pencil {
  margin-left: 5px;
  float: right;
}

.comments_block small {
  font-size: 10px;
}

#social_auth {
  margin-top: 5px;
}

.facebook_img, .vkontakte_img, .twitter_img {
  background: url("/sprites_soc.png") no-repeat;
  width: 44px;
  height: 44px;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.facebook_img {
  background-position: -54px -52px;
}

.facebook_img:hover {
  background-position: -54px 0px;
}

.vkontakte_img {
  background-position: -108px -52px;
}

.vkontakte_img:hover {
  background-position: -108px 0px;
}

.twitter_img {
  background-position: -162px -52px;
}

.twitter_img:hover {
  background-position: -162px 0px;
}

// for comments
