// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row.team-members {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.fullteam_wrap {
  overflow: hidden;
  padding: 0 20px 0 20px;
}

.team-member {
  overflow: hidden;
  margin: 0 0 20px 15px;
  border-bottom: 1px solid #cccccc;
}

.team-member img {
  float: left;
  margin: 0 20px 10px 0;
}

.fullteam {
  float: left;
  margin: 0 10px 0 0;
}